[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "G1-GR00T-N1.5"
version = "0.1.0"
dependencies = []

[project.optional-dependencies]
dev = [
    "pytest",
    "ruff",
    "black",
    "isort",
]
